

body{
	background-color: rgb(93,129,72);
}
p{
	color:rgb(255,253,208);
	font-family: Calibri;
	text-align: center;
	margin: 30px;
	font-size: 20px;
}
#verdict{
	text-align: left;
}
h1{
	font-size: 86px;
	text-align:center;
	color:rgb(255,253,208);
	font-family: 'Caveat Brush', cursive;
}
h2{
	color: rgb(255,253,208);
	font-family: 'Caveat Brush', cursive;
	font-size: 34px;
	text-align: center;
}
h3{
	color: rgb(255,253,208);
	text-align:center;
	font-family: 'Caveat Brush', cursive;
	font-size: 56px;
}
a.navbar-brand{
	font-family: 'Caveat Brush', cursive;
}
a.navbarNav{
	text-align:center;
}
nav.navbar{
	background-color: rgb(93,129,72);
	color: rgb(255,253,208);
}
a{
	color:rgb(255,253,208);
}
div.navbar-collapse{
	text-align: center;
}


.active-green-2 input[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid rgb(123,174,94);
	background-color: rgb(255,253,208);
	border-color: rgb(123,174,94);
	border-width: medium;
	color: rgb(93,129,72);
  width: 100%;
}

.btn{
	background-color: rgb(123,174,94);
	color: rgb(255,253,208);
}



.fashionguides{
	color:rgb(180,209,124);
}

ul.ourverdict{
	color:rgb(255,253,208);
	font-family: Calibri;
	text-align: left;
	margin: 30px;

}

#carouselExampleCaptions{
	margin: 150px;
	margin-top: 15px;
}


.fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.3;
}
.form-inline{
	margin-left: 200px;
}

#circle-image{
	border-radius: 50%;
	width: 250px;
	padding: 20px;
}

#info{
	text-align: left;
}

.form-inline {
	margin-left: 200px;
}
